.account {
  padding-top: 50px;
  padding-bottom: 50px;
  background: $color1;
  min-height: calc(100vh - 140px);

  &__title {
    color: $color4;
    margin-bottom: 50px;
  }
  &__content {
    @include flex;
  }
  &__content-block {
    width: 50%;
    &_sidebar {
      width: 50%;
      border-right: 1px solid $color4;
      margin-right: 50px;
      padding-right: 50px;
    }
  }
  
}

.account-aside {
  &__title {
    color: $color4;
  }
}