

.vacancies {
    &__title-block  {
        margin-bottom: 20px;
    }
    &__title {}
    &__subtitle {}

    &__header {
        @include flex(flex-start, center);

        padding: 20px;
        background: $color5;
        margin-bottom: 20px;
    }
    &__info-block {
        margin-right: auto;
    }
    &__info {
        span {
            font-weight: bold;
            margin-right: 10px;
        }
    }
    &__sort-block {
        @include flex(center, center);
        
        &:first-child {
            margin-right: 20px;
        }
    }
    &__sorted {
        span {}
    }
    &__content {}
    &__list {}
    &__item {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.vacancy {
    $parent: ".vacancy";

    @include flex(space-between);
    box-shadow: 3px 3px 15px rgba(black, .1);
    margin-bottom: 20px;
    width: 100%;
    background: white;
    &:last-child {
        margin-bottom: 0;
    }

    &__content-block {
        @include flex;
        padding: 15px;
    }
    &__thumbnail {
        $size: 160px;
        width: $size;
        min-width: $size;
        height: $size;
        margin-right: 15px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__content {}
    &__title {
        margin-bottom: 5px;
    }
    &__link {
        // padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid transparent;
        transition: border .3s;
        &:hover {
            border-color: $color1;
        }
    }
    &__meta {
        margin-bottom: 20px;
    }
    &__additionally {
        margin-top: 10px;
    }
    &__text {
        max-height: 55px;
        overflow: hidden;
        &_mobile {
            padding: 15px 0;
        }
    }
    &__salary-block {
        @include flex(center, center);
        flex-direction: column;

        padding: 15px;
        background: $color5;
    }
    &__salary {
        margin-bottom: 10px;
    }
    &__details {
    }
    &__action {
        margin-bottom: 20px;
    }

    &_slim {
        background: rgba(white, 0.1);
        #{$parent}__thumbnail {
            $size: 50px;
            width: $size;
            min-width: $size;
            height: $size;
            margin-right: 15px;
        }
        #{$parent}__link {
            color: white;
            &:hover {
                border-color: white;
            }
        }
        #{$parent}__content-block {
            align-items: center;
        }
    }
}

.vacancy-action {
    @include flex(center, center);

    &__item {}
    &__btn {
        display: block;
        padding: 5px;
        color: $color2;
        opacity: .7;
        cursor: pointer;
        transition: opacity .3s;
        &:hover {
            opacity: 1;
            i {
                text-shadow: 2px 2px 2px rgba(black, .5);
            }
        }
        i {
            font-size: 30px;
            transition: text-shadow .3s;
        }
        &_active {
            color: red;
        }
    }
}

.meta-info {
    @include flex;
    white-space: nowrap;
    &__item {
        @include flex;

        color: $color4;
        font-size: 14px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
        &-icon {
            margin-right: 5px;
        }
        &-value {
            @include flex;
            a {
                color: $color4;
                margin-right: 5px;
                transition: color .3s;

                &:hover {
                    color: $color2;
                }
                &::after {
                    content: ','
                }
                &:last-child {
                    margin-right: 0;
                    &::after {
                        content: '';
                    }
                }
            }
        }
    }
}
.additionally {
    @include flex(flex-start, center);
    font-weight: bold;
    font-size: 14px;
    color: $color1;
    &__item {
        margin-right: 5px;
        &:first-child {
            font-size: 1rem;
        }
        &:last-child {
            margin-right: 0;
        }
        &_upper {
            text-transform: uppercase;
        }
    }

    &_single-page {
        background: $color1;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
    }
}

.vacancy-single {
    margin-bottom: 20px;
    
    &:last-child {
        margin-bottom: 0;
    }

    &__content-block {
        @include flex;
    }
    &__thumbnail-block {
        margin-right: 15px;
    }
    &__thumbnail {
        $size: 300px;
        width: $size;
        min-width: $size;
        height: $size;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__action {
        padding: 10px;
        background: $color5;
    }
    &__content {
        width: 100%;
    }
    &__title {
        font-size: 2rem;
        
    }
    &__additionally {
        // padding: 10px;
    }
    &__text {
        padding: 20px;
        font-size: 1.2rem;
        margin-bottom: 20px;
        border-bottom: 1px solid silver;
    }
    &__link {
        // padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid transparent;
        transition: border .3s;
        &:hover {
            border-color: $color1;
        }
    }
    &__meta {
        margin-bottom: 20px;
    }
    &__salary {
        margin-bottom: 10px;
        padding: 20px;
        background: $color6;
        font-weight: bold;
        font-size: 1.2rem;
    }
    &__details {
    }
}

.single-meta-info {
    &__item {
        @include flex;

        color: $color1;
        font-size: 1rem;
        margin-bottom: 10px;
        padding: 10px;

        &:nth-child(odd) {
            background: $color6;
        }

        &:last-child {
            margin-right: 0;
        }
        &-icon {
            margin-right: 5px;
        }
        &-text {
            min-width: 150px;
            margin-right: 5px;
        }
        &-value {
            @include flex(space-between);
            a {
                color: black;
                margin-right: 5px;
                transition: color .3s;
                font-size: 1.2rem;

                &:hover {
                    color: $color2;
                }
                &::after {
                    content: ','
                }
                &:last-child {
                    margin-right: 0;
                    &::after {
                        content: '';
                    }
                }
            }
        }
    }
}

@media (max-width: $bp3) {
    .vacancies {
        &__item {
            margin-bottom: 15px;
        }
    }

    .vacancy {
        $parent: &;
        flex-direction: column;
        &__title {

        }
        &__content-block {
            padding: 0;
        }
        &__salary-block {
            @include flex(center, center);
            flex-direction: row;
    
            padding: 5px;
            background: $color5;
        }
        &__action {
            margin-bottom: 0;
            margin-right: 10px;
        }
        &__salary {
            margin-bottom: 0;
            margin-right: 10px;
        }
        &_slim {
            flex-direction: row;
        }
    }

    .meta-info {
        flex-wrap: wrap;
    }
}

@media (max-width: $bp4) {
    .vacancy-single {
        &__content-block {
            flex-direction: column;
        }
        &__action {
            width: 300px;
        }
    }
}

@media (max-width: $bp6) {
    .vacancy {
        &__thumbnail {
            width: 100px;
            height: 100px;
            min-width: 100px;
        }
    }
}