input,
textarea,
button,
label {
  display: block;
  border: none;
  background: transparent;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

textarea {
  min-height: 100px;
  resize: none;
}

fieldset {
  border: none;
}

.form {
  // ligth
  --mainFormColor: white;
  --formBgColor: rgba(255, 255, 255, 0.3);
  --formTitleColor: var(--mainFormColor);
  --formLabelColor: #{$color4};
  --formInputColor: var(--mainFormColor);
  --formPHColor: #{$color4};
  --formErrorColor: tomato;

  --inputPadding: 15px;
  --inputBorderColor: #{$color5};
  --inputBorder: 1px solid #{$inputBorderColor};

  // dark
  &_medium {
    --formBgColor: #{rgba(black, 0.3)};
  }
  &_dark {
    --formBgColor: #{rgba($color1, 0.8)};
  }
  &_full {
    --formBgColor: #{$color1};
  }


  background: var(--formBgColor);
  padding: 40px;
  color: var(--mainFormColor);

  &__title-block {
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__subtitle {
    max-width: 250px;
  }
  &__fields {
    margin-bottom: 40px;
  }
  &__data-block {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__block-title {
    margin-bottom: 20px;
  }
  &__btns {
    @include flex(center, center);
  }

  &_contacts {
    max-width: 500px;
  }
  &_employer,
  &_worker {}
}
.form-item {
  @include flex;
  flex-direction: column;

  position: relative;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }

  &__labelText {
    color: var(--formLabelColor);
    @include flex(flex-start, center);

    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    &::before,
    &::after {
      content: '';
      height: 1px;
      background: var(--inputBorderColor);
      transform: translateY(-50%);
      display: block;
    }
    &::before {
      width: 10px;
      margin-right: 5px;
    }
    &::after {
      width: 100%;
      margin-left: 5px;
    }
  }
  &__input {
    padding: var(--inputPadding);
    border-left: 1px solid var(--inputBorderColor);
    border-right: 1px solid var(--inputBorderColor);
    border-bottom: 1px solid var(--inputBorderColor);
    font-size: 1rem;
    color: var(--formInputColor);
    &::placeholder {
      color: var(--formPHColor);
      font-size: 0.8em;
    }
  }
  &__error-area {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: white;
    background: var(--formErrorColor);
    padding: 2px;
    transform: translateY(50%);
  }
}

@media (max-width: $bp3) {
  .form {
    --inputPadding: 10px;

    padding: 20px;
  }
}