.search-form {
  $parent: &;
  color: $color4;

  flex-basis: $searchFormWidth;
  position: relative;
  z-index: 10;
  background: white;

  &__field {
    @include flex(center, center);
    border: 1px solid $color5;
    width: 100%;
    position: relative;
  }
  &__icon {
    margin: 0 10px;
  }
  &__input {
    width: 100%;
    padding: 15px;
    border: 1px solid transparent;
  }
  &__results {
    position: absolute;
    z-index: 10;
    width: $searchFormWidth;
    left: 0;
    bottom: 0;
    transform: translateY(calc(100% + 10px));
  }

  &_narrow {
    flex-basis: auto;
    &:hover {
      #{$parent}__field {
        border-color: $color2;
        cursor: pointer;
        color: $color2;
      }
    }
    #{$parent}__field {
      width: 50px;
      height: 50px;
      padding: 0;
      &_active {
        border-color: $color2;
        color: $color2;

        #{$parent}__input {
          z-index: 10;
          opacity: 1;
          visibility: visible;
        }
      }
    }
    #{$parent}__icon {
      margin: 0;
    }
    #{$parent}__input {
      position: absolute;
      background: white;
      box-shadow: 2px 2px 5px rgba(black, .3);
      width: 300px;
      bottom: 0;
      left: 0;
      transform: translateY(calc(100% + 10px));
      z-index: -1;
      opacity: 0;
      transition: opacity .3s;
      visibility: hidden;
      border-color: $color2;
    }
    #{$parent}__results {
      transform: translateY(calc(100% + 60px));
    }
  }
}

.vacancy-search-list {
  background: white;
  padding: 20px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(black, .3);
  border: 1px solid $color5;
  &__item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.vacancy-search-item {
  $thumbSize: 50px;
  $parent: &;
  @include flex(flex-start, center);

  cursor: pointer;

  &:hover {
    #{$parent}__title {
      color: $color2;
    }
  }

  &__thumbnail {
    width: $thumbSize;
    min-width: $thumbSize;
    height: $thumbSize;
    margin-right: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }
  &__title {
    font-size: 1.2rem;
    height: 50px;
    overflow: hidden;
  }
}

// @media (max-width: $bp1) {
//   .search-form {
//     $parent: &;
//     flex-basis: auto;
//     &:hover {
//       #{$parent}__field {
//         border-color: $color2;
//         cursor: pointer;
//         color: $color2;
//       }
//     }
//     &__field {
//       width: 50px;
//       height: 50px;
//       padding: 0;
//       &_active {
//         border-color: $color2;
//         color: $color2;

//         #{$parent}__input {
//           z-index: 10;
//           opacity: 1;
//           visibility: visible;
//         }
//       }
//     }
//     &__icon {
//       margin: 0;
//     }
//     &__input {
//       position: absolute;
//       background: white;
//       box-shadow: 2px 2px 5px rgba(black, .3);
//       width: 300px;
//       bottom: 0;
//       left: 0;
//       transform: translateY(calc(100% + 10px));
//       z-index: -1;
//       opacity: 0;
//       transition: opacity .3s;
//       visibility: hidden;
//       border-color: $color2;
//     }
//     &__results {
//       transform: translateY(calc(100% + 60px));
//     }
//   }
// }