.toggle-tabs {
  @include flex(center, center);
}
// .btn-tab {
//   @include flex(center, center);
//   $mainColor: darken($color1, 10);

//   width: 250px;
//   height: 80px;
//   background: white;
//   color: $mainColor;
//   border: 2px solid transparent;
//   transition: color 0.3s, background 0.3s;
//   cursor: pointer;
//   &::before {
//     @include flex(center, center);
//     $size: 30px;

//     content: attr(data-number);
//     width: $size;
//     height: $size;
//     font-size: 20px;
//     // font-weight: bold;
//     border-radius: 50%;
//     background: $mainColor;
//     color: white;
//     margin-right: 10px
//   }
//   &:hover {
//     $mainColor: darken($color1, 10);

//     background: $mainColor;
//     color: white;
//     &::before {
//       background: white;
//       color: $mainColor;
//     }
//   }

//   &__content {
//     span {
//       display: block;
//     }
//   }
//   &__title {
//     font-size: 20px;
//     font-weight: bold;
//   }
//   &__subscr {
//     font-size: 12px;
//   }

//   &.active {
//     $mainColor: darken($color1, 10);

//     background: $mainColor;
//     color: white;
//     &::before {
//       background: white;
//       color: $mainColor;
//     }
//   }
// }

.btn-tab {
  @include flex(center, center);
  $mainColor: white;
  $activeColor: darken($color1, 10);

  width: 250px;
  height: 80px;
  background: $activeColor;
  color: $mainColor;
  border: 2px solid transparent;
  transition: color 0.3s, background 0.3s;
  cursor: pointer;
  &::before {
    @include flex(center, center);
    $size: 30px;

    content: attr(data-number);
    width: $size;
    height: $size;
    font-size: 20px;
    // font-weight: bold;
    border-radius: 50%;
    background: $mainColor;
    color: $activeColor;
    margin-right: 10px
  }
  &:hover {
    $mainColor: white;
    $activeColor: darken($color1, 10);

    background: $mainColor;
    color: $activeColor;
    &::before {
      background: $activeColor;
      color: $mainColor;
    }
  }

  &__content {
    span {
      display: block;
    }
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
  }
  &__subscr {
    font-size: 12px;
  }

  &.active {
    $mainColor: white;
    $activeColor: darken($color1, 10);

    background: $mainColor;
    color: $activeColor;
    &::before {
      background: $activeColor;
      color: $mainColor;
    }
  }
}

@media (max-width: $bp2) {
  .toggle-tabs {
    flex-direction: column;
  }
}

@media (max-width: $bp4) {
  .toggle-tabs {
    flex-direction: row;
    width: 100%;
  }
  .btn-tab {
    width: 50%;
    height: 60px;
  }
}

@media (max-width: $bp6) {
  .btn-tab {
    height: 50px;
    &::before {
      font-size: 18px;
      width: 25px;
      height: 25px;
    }
    &__title {
      font-size: 18px;
    }
  }
}

@media (max-width: $bp7) {
  .btn-tab {
    height: 50px;
    &::before {
      font-size: 12px;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    &__title {
      font-size: 14px;
    }
    &__subscr {
      font-size: 12px;
    }
  }
}