// $color1: #2B3245;
// $color1: #372B54;
$color1: #1B3652;
$color2: #FF9900;
$color3: #005DB2;
$color4: #C0C0C0;
$color5: #E9E9E9; 
$color6: #EFEFEF;

// font-size
$fzSectionTitle: 40px;

// font
// $fontTitle: arial, sans-serif;
$heroTitle: sans-serif;
$heroSubTitle: "seasons";
$fontTitle: sans-serif;

// input styles
$inputPadding: 15px;
$inputBorderColor: $color5;

$inputBorder: 1px solid $inputBorderColor;

// forms
$searchFormWidth: 400px;

// MEDIA
$bp1: 1200px; 
$bp2: 1100px;
$bp3: 900px;
$bp4: 550px;

